.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 740px;
  padding: 10px 50px;
  margin: 30px;
  border-radius: 6px;
  background: white;
}

.rating-format-main {
  display: grid;
  grid-template-columns: 1fr 3fr repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  padding: 20px 0;
  color: #454545;
  font-size: 15px;
  font-weight: 600;
}

.rating-format {
  align-items: center;
  font-weight: 500;
}

.rating-allratings {
  overflow-y: auto;
}

.rating-remove-icon {
  cursor: pointer;
  margin: auto;
}

@media (max-width: 800px) {
  .rating {
    box-sizing: border-box;
    width: 95%;
    height: 100%;
    padding: 10px 30px;
    margin: 20px auto;
  }
  .rating-format-main {
    padding: 15px 0;
    color: #454545;
    font-size: 12px;
  }
  .rating-product-icon {
    height: 60px;
  }
}
